<h1>Welcome to the Drone Marketplace!</h1>

<ul> 
  <% @listings.each do |listing| %>
    <li>
      <%= listing.title %>
      <%= listing.price %>
      <%= listing.description %>
    </li>
  <% end %>
</ul>