<h1>Welcome to the Drone Marketplace!</h1>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <h3><%= listing.title %></h3>
      <%= listing.price %>
      <%= listing.description %>
    </li>
  <% end %>
</ul>
