<h1>Welcome to the Drone Marketplace!</h1>


<% @listings.each do |listing| %>
  <div class="listing-div">
    <%= render partial: 'listings/listing', locals: { listing: listing } %>
  </div>
<% end %>
